<section class="hero-banner">
  <img class="hero-banner__image" src="../assets/img/home/woman-main-banner.webp" alt="Woman Fashion Banner">

  <div class="hero-banner__content">
    <h1 class="hero-banner__title">
      A Essência do Atemporal
    </h1>

    <p class="hero-banner__description">
      Descubra uma coleção que encontra a leveza da elegância moderna. Peças concebidas para transcender estações e tendências.
    </p>

    <button class="hero-banner__button">
      Explore a Coleção
    </button>
  </div>
</section>
